<%= simple_form_for(@paperclip_image) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-group">
    <%= f.label :asset %>
    <%= f.file_field :asset, html: { class: 'form-control'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
